<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashbord</title>

        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="../../css/Bootstrap/bootstrap.min.css">

        <!-- Import Custom CSS -->
        <link rel="stylesheet" href="../../css/custom/custom.css">

        <!-- Import Floating Button -->
        <link rel="stylesheet" href="../../css/floating-button/floating-button.min.css">

        <!-- Import Google Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

        <!-- Import Pallete Colors -->
        <link href="https://oondev.github.io/projects/pallete-colors/v1.0.0/pallete-colors.min.css" rel="stylesheet">

        <!-- Import animação -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    </head>
    <body>        
        <header>
            <div class="row">
                <div class="col col-md-11 col-sm-12 col-xs-12 col-lg-11 col-xl-11 mt-3">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-black " aria-current="page" href="../Dashboard/index.html">Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-red-10 " href="#">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="#">Contato</a>
                        </li>
                        <li class="nav-item">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
                                <button type="button" class="btn btn-outline-secondary">
                                    <i class="material-icons">
                                        search
                                    </i>
                                </button>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="../Login/index.html">Logout</a>
                        </li>
                    </ul>
                </div>
                <hr class="mt-2">
            </div>
        </header>
        <main class="vh-100" >
            <div>
                <div class="container ">
                    <h1 class="mt-5 font-Rowdies text-center">Sobre</h1>
                    <div class="row" >
                        <div class="col-5 mt-5">
                            <div data-aos="zoom-in-down" data-aos-duration="1800">
                                <div class="card" style="border:none;">
                                    <img src="../../img/eu.jpeg" style="height: 250px; width: 250px;" class=" imagem-criador card-img-top img-fluid rounded mx-auto d-block" alt="...">
                                    <div class="card-body">
                                            <div class="d-flex justify-content-center">
                                                <h5 class="card-title">Michel Fernandes Lemes </h5>
                                            </div>
                                        <hr>
                                        <p class="card-text"><strong> E-mail:</strong> michel.fernandes@aluno.unincor.edu.br</p>
                                        <p class="card-text"><strong> Telefone:</strong> (35)9.8822-9448</p>
                                        <p class="card-text"><strong> Instituição:</strong> Universidade do Vale do Rio Verde</p>
                                        <p class="card-text"><strong> Curso:</strong> Ciência da Computação, 8º Periodo</p>
                                        <p class="card-text"><strong> Registro:</strong> 36985214789</p>
                                        <hr>
                                        <div class="d-flex justify-content-center gap-3">
                                            <a href="https://www.linkedin.com/in/michel-fernandes-8a0432180/" target="_blank" class="btn btn-primary">linkedin</a>
                                            <a href="https://www.github.com/michel110299"  target="_blank" class="btn bg-black text-white">github</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-5">
                            <div class="col-5">
                                <div data-aos="zoom-in-down" data-aos-duration="1800">
                                    <div class="card" style="border:none;">
                                        <img src="../../img/leozinho.jpg" style="height: 250px; width: 250px;" class=" imagem-criador card-img-top rounded img-fluid mx-auto d-block" alt="...">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-center">
                                                <h5 class="card-title">Leonardo Liz</h5>
                                            </div>
                                            <hr>
                                            <p class="card-text"><strong> E-mail:</strong> leonardo.liz@aluno.unincor.edu.br</p>
                                            <p class="card-text"><strong> Telefone:</strong> (35)9.8419-1788</p>
                                            <p class="card-text"><strong> Instituição:</strong> Universidade do Vale do Rio Verde</p>
                                            <p class="card-text"><strong> Curso:</strong> Ciência da Computação, 8º Periodo</p>
                                            <p class="card-text"><strong> Registro:</strong> 36985214789</p>
                                            <hr>
                                            <div class="d-flex justify-content-center gap-3">
                                                <a href="https://www.linkedin.com/in/leonardo-lizzeira/"  target="_blank" class="btn btn-primary">linkedin</a>
                                                <a href="https://github.com/LiZzeira"  target="_blank" class="btn bg-black text-white">github</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <footer>

        </footer>

        <!-- Import JS JQuery -->
        <script src="../../js/JQuery/jquery.min.js"></script>

        <!-- Import JQuery Mask -->
        <!-- <script src="../../js/JQuery/jquery.mask.min.js"></script> -->

        <!-- Import JS Bootstrap -->
        <script src="../../js/Bootstrap/bootstrap.min.js"></script>

        <!-- Importando pacotes extras para novas funcionalidade -->
        <script src="../../js/Bootstrap/bootstrap.bundle.min.js"></script>

        <!-- Importando animação -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

        <script>
            AOS.init();
            $(document).ready(function() { 
                $(function () {
                    $('[data-bs-toggle="tooltip"]').tooltip();
                })
                $('#checkSenha').click(function (){
                    if ($(this).is (':checked')){
                        $("#id_Senha").attr("type","text")
                        $("#id_confirmacaoSenha").attr("type","text")
                    }
                    else{
                        $("#id_Senha").attr("type","password")
                        $("#id_confirmacaoSenha").attr("type","password")
                    }
                });
            });
        </script>

    </body>
    
</html>