<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>

        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="../../css/Bootstrap/bootstrap.min.css">

        <!-- Import Custom CSS -->
        <link rel="stylesheet" href="../../css/custom/custom.css">

        <!-- Import Google Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

        <!-- Import Pallete Colors -->
        <link href="https://oondev.github.io/projects/pallete-colors/v1.0.0/pallete-colors.min.css" rel="stylesheet">

    </head>
    <body>
        <header>
            <div class="row">
                <div class="col col-md-11 col-sm-12 col-xs-12 col-lg-11 col-xl-11 mt-3">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active text-red-10" aria-current="page" href="#">Finanças</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="../Dashboard/index.html">Dashbord</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="#">Graficos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black">Sair</a>
                        </li>
                    </ul>
                </div>
                <hr class="mt-2">
            </div>
        </header>
        
        <main class="container">
            <div class="row mt-5">
                <div class="d-flex justify-content-center">
                    <div class="col col-md-4 col-sm-12 col-xs-12 col-lg-4 col-xl-4">
                        <div class="card text-center bg-red-7 p-2" style="border-radius:50px;">
                            <h2 class="mt-5 font-mulish"> Controle Financeiro</h2>
                            <div class="card-body p-5">
                                <div class="input-group mb-3 mt-2">
                                    <span class="input-group-text IconeLogin" id="basic-addon-email"><i class="material-icons">email</i></span>
                                    <input type="text" class="form-control InputLogin "  placeholder="E-mail" aria-label="Username" aria-describedby="basic-addon-email">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text IconeLogin" id="basic-addon-password"><i class="material-icons">lock</i></span>
                                    <input type="password" id="id_Senha" class="form-control InputLogin" placeholder="Password" aria-label="Username" aria-describedby="basic-addon-password">
                                </div>
                                <div class="form-check form-switch">
                                    <input id="checkSenha" class="form-check-input" type="checkbox" role="switch"  data-bs-toggle="tooltip" data-bs-placement="top" title="Ver senha">
                                </div>   
                                <div class="d-grid col-12 mx-auto">
                                    <button type="submit" class="btn mt-3 bg-white rounded-3">Login</button>
                                </div>
                                <a class="nav-link text-black mt-2"  href="../CadastroUsuario/index.html">Novo aqui? <span class="fw-bold">Criar conta</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>


        <footer>
        </footer>

        <!-- Import JS JQuery -->
        <script src="../../js/JQuery/jquery.min.js"></script>

        <!-- Import JQuery Mask -->
        <script src="../../js/JQuery/jquery.mask.min.js"></script>

        <!-- Import JS Bootstrap -->
        <script src="../../js/Bootstrap/bootstrap.min.js"></script>

        <!-- Importando pacotes extras para novas funcionalidade -->
        <script src="../../js/Bootstrap/bootstrap.bundle.min.js"></script>


        <script>
            $(document).ready(function() { 
                $(function () {
                    $('[data-bs-toggle="tooltip"]').tooltip();
                })
                $('#checkSenha').click(function (){
                    if ($(this).is (':checked')){
                        $("#id_Senha").attr("type","text")
                    }
                    else{
                        $("#id_Senha").attr("type","password")
                    }
                });
            });
        </script>

    </body>
</html>