<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Principal</title>

        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="../../css/Bootstrap/bootstrap.min.css">

        <!-- Import Custom CSS -->
        <link rel="stylesheet" href="../../css/custom/custom.css">

        <!-- Import Floating Button -->
        <link rel="stylesheet" href="../../css/floating-button/floating-button.min.css">

        <!-- Import Google Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

        <!-- Import Pallete Colors -->
        <link href="https://oondev.github.io/projects/pallete-colors/v1.0.0/pallete-colors.min.css" rel="stylesheet">

    </head>
    <body>
        <a class="floating-button floating-circle m-2 floating-bottom-end floating-xl bg-red-8" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <span class="material-icons floating-icon-xl" data-bs-toggle="tooltip" data-bs-placement="left" title="Adicionar Financeiro">add</span>
        </a>

        <!-- Modal -->
        <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title " id="staticBackdropLabel">Adicionar Gastos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body container">
                        <form>
                            <div class="row">
                                <div class="mb-3">
                                    <input type="text" class="form-control input-transacao"  placeholder="Titulo" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <input type="number" class="form-control input-transacao" value="0" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                                <div class="btn-group gap-2 col-12 mx-auto mb-3" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                                    <label class="btn btn-lg btn-outline-success p-3 fs-6 bg-green-3 text-black btn-entrada" for="btnradio1">
                                        <div class="row">
                                            <div class="d-flex justify-content-center">
                                                <div class="col-6">
                                                    <div class="d-flex justify-content-end me-2">
                                                        <i class="text-green material-icons">
                                                            vertical_align_top
                                                        </i>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="d-flex justify-content-start">
                                                        Entrada
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                                    <label class="btn btn-lg btn-outline-danger p-3 fs-6 bg-red-3 text-black btn-saida" for="btnradio2">
                                        <div class="row">
                                            <div class="d-flex justify-content-center">
                                                <div class="col-6">
                                                    <div class="d-flex justify-content-end me-2">
                                                        <i class="text-red material-icons">
                                                            vertical_align_bottom
                                                        </i>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="d-flex justify-content-start">
                                                        Saída
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <div class="mb-3">
                                    <select class="form-select input-transacao" aria-label="Default select example">
                                        <option selected value="" disabled>Selecione uma categoria</option>
                                        <option value="Estudos">Estudos</option>
                                        <option value="Casa">Casa</option>
                                        <option value="Viagem">Viagem</option>
                                        <option value="Compras">Compras</option>
                                        <option value="Farmácia">Farmácia</option>
                                    </select>
                                </div>
                                
                                <div class="d-grid">
                                    <button class="btn btn-lg bg-green-6 text-white font-mulish" type="button">Cadastrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <header>
            <div class="row">
                <div class="col col-md-11 col-sm-12 col-xs-12 col-lg-11 col-xl-11 mt-3">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-red-10 " aria-current="page" href="#">Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black " href="../sobre/index.html">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="../Contato/index.html">Contato</a>
                        </li>
                        <li class="nav-item">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
                                <button type="button" class="btn btn-outline-secondary">
                                    <i class="material-icons">
                                        search
                                    </i>
                                </button>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="../Login/index.html">Logout</a>
                        </li>
                    </ul>
                </div>
                <hr class="mt-2">
            </div>
        </header>
        <main class="vh-100" >
            <div class="container">
                <h2 class="mt-5 font-mulish text-center">Controle Financeiro</h2>
                <div class="row mt-5">
                    <div class="col-12 col-md-4 col-sm-12 col-xs-12 col-lg-4 col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <h6 class="card-subtitle mb-2 text-muted">Entradas</h6>
                                    </div>
                                    <div class="col-6">
                                        <div class="d-flex justify-content-end">
                                            <i class="text-green material-icons">
                                                vertical_align_top
                                            </i>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="text-center"> R$ 5000,00</h3>
                            </div>
                        </div>
                    </div> 
                    <div class="col-12 col-md-4 col-sm-12 col-xs-12 col-lg-4 col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <h6 class="card-subtitle mb-2 text-muted">Saídas</h6>
                                    </div>
                                    <div class="col-6">
                                        <div class="d-flex justify-content-end">
                                            <i class="text-red material-icons">
                                                vertical_align_bottom
                                            </i>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="text-center"> R$ -2500,00</h3>
                            </div>
                        </div>
                    </div> 
                    <div class="col-12 col-md-4 col-sm-12 col-xs-12 col-lg-4 col-xl-4">
                        <div class="card">
                            <div class="card-body bg-green-5">
                                <div class="row">
                                    <div class="col-6">
                                        <h6 class="card-subtitle mb-2 text-white">Total</h6>
                                    </div>
                                    <div class="col-6">
                                        <div class="d-flex justify-content-end">
                                            <span class="text-white material-icons">
                                                attach_money
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="text-center text-white"> R$ 2500,00</h3>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover mt-5" style="border-color:transparent;">
                        <thead>
                            <tr>
                            <th scope="col">Titulo</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Data/Hora</th>
                            <th scope="col">Gerenciar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="background-color: #f8f3f4;">
                                <td>Freelance de website</td>
                                <td class="text-green"> R$ 6.000,00</td>
                                <td>Dev</td>
                                <td>12/02/2021 as 12:30:00</td>
                                <td>
                                    <button type="button" class="btn bg-green-6 text-white"> Editar </button>
                                    <button type="button" class="btn bg-red-6 text-white"> Excluir </button>
                                </td>
                            </tr>
                            <tr style="background-color: #f8f3f4;">
                                <td>Aluguel</td>
                                <td class="text-red">R$ 1.200,00</td>
                                <td>Casa</td>
                                <td>14/02/2021 as 15:30:00</td>
                                <td>
                                    <button type="button" class="btn bg-green-6 text-white "> Editar </button>
                                    <button type="button" class="btn bg-red-6 text-white"> Excluir </button>
                                </td>
                            </tr>
                            <tr>
                        </tbody>
                        </table>
                </div>
            </div>
        </main>
        
        <footer>

        </footer>

        <!-- Import JS JQuery -->
        <script src="../../js/JQuery/jquery.min.js"></script>

        <!-- Import JQuery Mask -->
        <!-- <script src="../../js/JQuery/jquery.mask.min.js"></script> -->

        <!-- Import JS Bootstrap -->
        <script src="../../js/Bootstrap/bootstrap.min.js"></script>

        <!-- Importando pacotes extras para novas funcionalidade -->
        <script src="../../js/Bootstrap/bootstrap.bundle.min.js"></script>

        <script>
            $(document).ready(function() { 
                $(function () {
                    $('[data-bs-toggle="tooltip"]').tooltip();
                })
                $('#checkSenha').click(function (){
                    if ($(this).is (':checked')){
                        $("#id_Senha").attr("type","text")
                        $("#id_confirmacaoSenha").attr("type","text")
                    }
                    else{
                        $("#id_Senha").attr("type","password")
                        $("#id_confirmacaoSenha").attr("type","password")
                    }
                });
            });
        </script>

    </body>
    
</html>